				<div class="profile_view">

					<br>
					
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row profile_info">
								<div class="col-md-8 col-md-offset-1">
									<div class="col-md-1 profile_pic" >
										<%= image_tag("jwiebe.jpg", class:" img-circle img-responsive") %>
									</div>
									<div class="col-md-9 player-bio ">
										<div class="row">
											<div class="col-md-12 player-id">
												<h1 class="only-bottom-margin">LeagueSpeccer</h1>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 activity-info-1">
												<span class="text-muted">Member Since: </span> 01/01/1900<br>
												<span class="text-muted">Last Active:</span> 01/01/2001<br>
												<span class="text-muted">High Score:</span> 01/01/1900<br><br>
												<small class="text-muted">Joined: 01/01/2015</small>
											</div>
											<div class="col-md-6 pull-right activity-info-2">
												<span class="text-muted">Co-Leaguers: </span> 59<br>
												<span class="text-muted">LeagueSpec Rank: </span> 3rd<br>
												<span class="text-muted">LeagueSpec Miscellaneous: </span> 3rd<br>
												<button class="btn btn-default pull-right"><i class="glyphicon glyphicon-pencil"></i> Edit Player Info</button>
											</div>

										</div>

									</div>

								</div>


							</div>

						</div>
					</div>

				</div>
				<div class="container spec-social">		
					<div class = "col-md-4 player-stats">
						<div class="row feature-header">
							<h3>LeagueStory</h3>
						</div>
						<div class="panel game-stats">
							<div class="panel-body spec-panel">
								<h4>LeagueSpec Summary</h4>
								<div class="row spec-row">
									<div class="col-md-6 game-stat-1">
										<span class="text-muted">Last Game: </span> SalmonKing<br>
										<span class="text-muted">Last Game Won:</span> We Be Ballin'<br>
										<span class="text-muted">Last Game Lost:</span> Nuevo Game<br>
									</div>
									<div class="col-md-6 game-stat-2 pull-right">
										<span class="text-muted">Current Winning Streak: </span> 15 wins<br>
										<span class="text-muted">Longest Winning Streak:</span> 20<br>
										<span class="text-muted">Longest Losing Streak:</span> 5<br>
									</div>
								</div>
							</div>
						</div>
						<div class="panel ammo-stats">
							<div class="panel-body ammo-panel">
								<h4>Ammo Summary</h4>
								<div class="row ammo-row">
									<div class="col-md-6 ammo-stat-1">
										<span class="text-muted">Favorite Ammo: </span> AK 47<br>
										<span class="text-muted">Deadliest Ammo:</span> 9mm Pistol<br>
									</div>
									<div class="col-md-6 ammo-stat-2">
										<span class="text-muted">Least Lethal Ammo: </span> Grenade<br>
										<span class="text-muted">Recommended Ammo:</span> Nuclear Bomb<br>
									</div>
								</div>
							</div>
						</div>
						<div class="panel misc-stats">
							<div class="panel-body misc-panel">
								<h4>Miscellaneous Info</h4>
								<div class="row misc-row">
									<div class="col-md-6 misc-stat-1">
										<span class="text-muted">Something Here: </span> Something Here<br>
										<span class="text-muted">Something Here:</span> Something Here<br>
									</div>
									<div class="col-md-6 misc-stat-2">
										<span class="text-muted">Something Here: </span> Something Here<br>
										<span class="text-muted">Something Here:</span> Something Here<br>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class = "col-md-4 active-friends">
						<div class="row feature-header">
							<h3>Top Active Friends</h3>
						</div>
						<div class="panel friend-stats">
							<div class="panel-body friend-panel">
								<h5>Horatio Alger</h5>
								<div class="row friend-row">
								<div class="col-md-2 friend-img">
								    <%= image_tag("jwiebe.jpg") %>
							    </div>
									<div class="col-md-5 friend-stat-1">
									  <small class="text-muted">Last Active: 01/01/2015</small><br>
									  <small class="text-muted">Last Game Won:  01/01/2015</small><br>
									  <small class="text-muted">Last Game Lost:  01/01/2015</small><br>
									</div>
									<div class="col-md-5 friend-stat-2 pull-right">
									  <small class="text-muted">Fav Ammo: Grenade</small><br>
									  <small class="text-muted">Fav Game:  LoL Vista</small><br>
									  <small class="text-muted">Current Win Streak: 5</small><br>
									</div>
									
								</div>
							</div>
						</div>
						<div class="panel friend-stats">
							<div class="panel-body friend-panel">
								<h5>Horatio Alger</h5>
								<div class="row friend-row">
								<div class="col-md-2 friend-img">
								    <%= image_tag("jwiebe.jpg") %>
							    </div>
									<div class="col-md-5 friend-stat-1">
									  <small class="text-muted">Last Active: 01/01/2015</small><br>
									  <small class="text-muted">Last Game Won:  01/01/2015</small><br>
									  <small class="text-muted">Last Game Lost:  01/01/2015</small><br>
									</div>
									<div class="col-md-5 friend-stat-2 pull-right">
									  <small class="text-muted">Fav Ammo: Grenade</small><br>
									  <small class="text-muted">Fav Game:  LoL Vista</small><br>
									  <small class="text-muted">Current Win Streak: 5</small><br>
									</div>
									
								</div>
							</div>
						</div>
						<div class="panel friend-stats">
							<div class="panel-body friend-panel">
								<h5>Horatio Alger</h5>
								<div class="row friend-row">
								<div class="col-md-2 friend-img">
								    <%= image_tag("jwiebe.jpg") %>
							    </div>
									<div class="col-md-5 friend-stat-1">
									  <small class="text-muted">Last Active: 01/01/2015</small><br>
									  <small class="text-muted">Last Game Won:  01/01/2015</small><br>
									  <small class="text-muted">Last Game Lost:  01/01/2015</small><br>
									</div>
									<div class="col-md-5 friend-stat-2 pull-right">
									  <small class="text-muted">Fav Ammo: Grenade</small><br>
									  <small class="text-muted">Fav Game:  LoL Vista</small><br>
									  <small class="text-muted">Current Win Streak: 5</small><br>
									</div>
									
								</div>
							</div>
						</div>
				</div>
				<div class="col-md-4 trending">
						<div class="row feature-header">
							<h3>Trending on LeagueSpec</h3><hr>
						</div>
						<div class="col-md-4 trending-ammo">
							<h4>Ammo</h4>
							<div class="row top-ammo">
							<div class="col-md-3 top-ammo-img">
									<%= image_tag("jwiebe.jpg") %>
								</div>
							<div class="col-md-6 col-md-offset-1 top-ammo-title">
									<h5>Grenade</h5>
								</div>
							</div>
							<div class="row top-ammo-stat">
							  <br>
							  <h6>Usage: 15000</h6>
							  <h6>Success Rate: 99%</h6>
							  <h6>Usage Increase: 45%</h6>
							</div>
						</div>
						<div class="col-md-4 trending-leaguers">
							<h4>Users</h4>
							<div class="row top-leaguer">
							<div class="col-md-3 top-leaguer-img">
									<%= image_tag("jwiebe.jpg") %>
								</div>
							<div class="col-md-6 col-md-offset-1 top-leaguer-title">
									<h5>Kris Jenkins</h5>
								</div>
							</div>
							<div class="row top-leaguer-stat">
							  <br>
							  <h6>Current Win Streak: 150</h6>
							  <h6>Longest Win Streak: 190</h6>
							  <h6>Fav Ammo: Grenade</h6>
							</div>
						</div>
						<div class="col-md-4 trending-characters">
							<h4>Characters</h4>
							<div class="row top-character">
							<div class="col-md-3 top-character-img">
									<%= image_tag("jwiebe.jpg") %>
								</div>
							<div class="col-md-6 col-md-offset-1 top-character-title">
									<h5>Simba</h5>
								</div>
							</div>
							<div class="row top-character-stat">
							  <br>
							  <h6>Games Won: 150</h6>
							  <h6>Current Users: 190</h6>
							  <h6>User Increase Rate: 30%</h6>
							</div>
						</div>
					</div>
				</div>	


				
