<div class="profile-overview">
  <div class="summoner-header">
		<h1><%= @featured_stats[:summoner].name.capitalize %></h1>
	  <div class="edit-button pull-right">
			<button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit Player Info</button>
		</div>
	</div>
		

	<div class="profile-info">
		<div class="row">
			<div class="col-md-2 profile-pic" >
				<%= image_tag("ahri_lol_small.png", class:"img-circle img-responsive") %>
			</div>
			<div class="bio-table-left col-md-5">
				<table class="bio-text">
				  <tr>
						<th>Summoner Level:</th>
						<td><%= @featured_stats[:summoner].summoner_level %></td>
					</tr>
					<tr>
						<th>Summoner ID:</th>
						<td><%= @featured_stats[:summoner].id %></td>
					</tr>
					<tr>
						<th>Joined LeagueSpec:</th>
						<td><%= @user.created_at.to_s.slice(0,10) %></td>
					</tr>
				</table>
			</div>
			<div class="bio-table-right col-md-5">
				<table class="bio-text">
			  	<tr>
			      <th>Overall KDR:</th>
			      <td><%= @overall_stats[:kd] %></td>
			    </tr>
			    <tr>
						<th>Overall WLR:</th>
						<td><%= @overall_stats[:wl] %></td>
					</tr>
					<tr>
						<th>LoL Last Active:</th>
						<td><%= @featured_stats[:summoner].revision_date.to_s.slice(0,10) %></td>
		      </tr>
			  </table>
			</div>
		</div>
	</div>
</div>

<div class="container spec-social">
	<div class="header champions-header">
		<h3>Featured Champions</h3>
  </div>
  
	<div class="col-md-4">
	  <table class="stats-table">
	  	<tr>
	  		<th colspan="3" class="header"><h4>Ranked by KDR</h4></th>
	  	</tr>
	  	<% @featured_stats[:top_kd].each do |champion| %>
		  	<tr class="champ-row">
		  		<td class="champ-img">
		  			<%= link_to image_tag(champion.icon), champion_path(champion.id) %>
		  		</td>
		  		<td class="stat">
		  			<small>ID: <%= champion.id %></small><br>
						<small>Name: <%= champion.name %></small><br>
						<small>Title: <%= champion.title.titleize %></small><br>
		  		</td>
          <td class="stat right-stat pull-right">
          	<small>Champ Kills: <%= champion.total_kills %></small><br>
						<small>Champ Deaths: <%= champion.total_deaths %></small><br>
						<small>K-D Ratio: <%= champion.kd_ratio %></small><br>
          </td>
		  	</tr>
	  	<% end %>
	  </table>
	</div>

  <div class="col-md-4">
    <table class="stats-table">
	  	<tr>
	  		<th colspan="3" class="header">
	  			<h4>Ranked by WLR</h4>
	  		</th>
	  	</tr>
	  	<% @featured_stats[:top_wl].each do |champion| %>
		  	<tr class="champ-row">
		  		<td class="champ-img">
		  			<%= link_to image_tag(champion.icon), champion_path(champion.id) %>
		  		</td>
		  		<td class="stat">
		  			<small>ID: <%= champion.id %></small><br>
						<small>Name: <%= champion.name %></small><br>
						<small>Title: <%= champion.title.titleize %></small><br>
		  		</td>
	        <td class="stat right-stat pull-right">
	        	<small>Wins: <%= champion.total_wins %></small><br>
						<small>Losses: <%= champion.total_losses %></small><br>
						<small>W-L Ratio: <%= champion.wl_ratio %></small><br>
	        </td>
		  	</tr>
	  	<% end %>
	  </table>
	</div>

	<div class="col-md-4">
    <table class="stats-table">
	  	<tr>
	  		<th colspan="3" class="header">
	  			<h4>Most Played</h4>
	  		</th>
	  	</tr>
	  	<% @featured_stats[:top_played].each do |champion| %>
		  	<tr class="champ-row">
		  		<td class="champ-img">
		  			<%= link_to image_tag(champion.icon), champion_path(champion.id) %>
		  		</td>
		  		<td class="stat">
		  			<small>ID: <%= champion.id %></small><br>
						<small>Name: <%= champion.name %></small><br>
						<small>Title: <%= champion.title.titleize %></small><br>
		  		</td>
	        <td class="stat right-stat pull-right">
	        	<small>Played: <%= champion.total_games %></small><br>
						<small>Wins: <%= champion.total_wins %></small><br>
						<small>Losses: <%= champion.total_losses %></small><br>
	        </td>
		  	</tr>
	  	<% end %>
	  </table>
  </div>
</div>	
