<div class = "summoner-friends" id="summoner-friends-list">
  <div class = "col-md-5 col-md-offset-3">
    <div class="table-responsive">
    	<table class="table friends-list-table" cellspacing="0" style="border-spacing: 0;">
		    <thead>
		    	<tr>
		    		<th colspan="3" scope="colgroup" class="header friends-list-header">
		    		<% if @friendships.empty? %> 
		    		  <%= "No Summoner Friends" %>
		    		<% elsif @friends_list_code == 'all' %> 
		    		  <%= "All Summoner Friends" %>
		    		<% elsif @friends_list_code == 'active' %>
		    		  <%= "Active Summoner Friends" %>
		    		<% else %>
		    		  <%= "Pending Requests" %>
		    		<% end %>
		    		</th>
		    	</tr>
		    	<tr><th colspan="3" scope="colgroup" class="header" ><%= will_paginate %></th></tr>
		    </thead>
			  <%= render 'friends_list', friendslist: @friendships %>
			  <tfoot>
			    <tr><th colspan="3" scope="colgroup" class="header" ><%= will_paginate %></th></tr>
			  </tfoot>
		  </table>
		</div>
	</div>
</div>

